
<div #galleryRef class="gallery-main-div" id="gallery">
<h2>checkout my projects</h2>
<p class="projects-qnt">6</p>
<div class="gallery">

      <button class="arrow left" (click)="prevCard()">&#10094;</button> 
 <article class="cards-wrapper">
  
  
   <div class="card" [style.transform]="getTransform(0)">
     <app-card></app-card> 

  </div>
  <div class="card" [style.transform]="getTransform(1)" >
     <app-card></app-card> 

  </div>
    <div class="card" [style.transform]="getTransform(2)" >
     <app-card></app-card> 

  </div>
 </article>
        <button class="arrow right" (click)="nextCard()">&#10095;</button> 

</div>
</div>
