
<div #galleryRef class="gallery-main-div" id="gallery">
<h2>checkout my projects</h2>
<p class="projects-qnt">{{length+1}}</p>
<div class="gallery">

      <button [ngClass]="{'hidden': currentIndex()===0}" class="arrow left" (click)="prevCard()">&#10094;</button> 
 <div class="cards-wrapper">
  @for(item of translations()['gallery']; track $index){
     <section class="card" [style.transform]="getTransform($index)">
     <app-card [data]="item"></app-card> 
     </section>
  }
</div>

<button [ngClass]="{'hidden':currentIndex()===length}" class="arrow right" (click)="nextCard()">&#10095;</button> 

</div>
</div>
