<header>
   <section>
     <img src="images/logo.png" alt="logo">
     <h1 class="parkinsans-light">{{translations()['welcome']}}</h1>
   </section>
 <div class="language-menu-div">
          <button class="hamburger"  aria-label="Toggle menu" (click)="toggleMenu()" [class.active]="menuIsOpen()">
  <span></span>
  <span></span>
  <span></span>
</button>

<div class="language">
   <p class="first-lang">{{chosenLanguage()==='ENG'? 'ENG': 'ქარ'}}</p>
    <p class="second-lang" (click)="languageService.toggleLanguage()">{{chosenLanguage()==='GEO'? 'ENG': 'ქარ'}}</p>
</div>
 </div>
</header>
