<div class="experience-section hidden" #experienceRef>
  <h2>Experience</h2>
  <div class="experience-details-container">
    <p>I have to admit, <span>I haven’t had many chances to work on real projects, yet</span>. As you know, as a beginner, 
      <span>it’s a bit
      challenging to get those first opportunities to improve your skills.</span> That said, I’ve worked on 
      <span>two real projects</span> 
      so far, which have taught me a lot. And here they are...</p>
      <ul>
        <li>
         <app-experience-section></app-experience-section>
        </li>
        <li>
        <app-experience-section></app-experience-section>
        </li>
      </ul>
    </div>
</div>