.experience-section {
  // opacity: 0;
  // transform: translateY(50px);
  // transition: all 0.6s ease-out;
  padding-top: 20px;
  // background-color: brown;
  h2{
    
    transform: rotate(-5deg)
  };

  .experience-details-container{
    // margin-top: 20px;
    background-color: #f8bb42;
        clip-path: polygon(4% 10%, 100% 0%, 90% 95%, 0% 100%);
        padding: 70px 30px;
.my-experience-par{
  // font-size: 18px;
  font-size: 18px;

}
 .exp-difficulties{
  margin-top: 10px;
  line-height: 25px; 
  font-size: 17px;
  font-style: italic;
  // letter-spacing: 1px;
  padding: 5px 10px;
  margin-left: 20px;
  background-color: aquamarine;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "ALK Life", sans-serif;
  transform: rotate(-2deg);

  // height: 50px;
 }
ul{
  margin-top: 15px;
  background-color: red;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:25px
}
  }
}

// .experience-section.visible {
//   opacity: 1;
//   transform: translateY(0);
// }
