<div class="experience-section hidden" #experienceRef>
  <h2>Experience</h2>
  <div class="experience-details-container">
    <p class="my-experience-par">I have to admit, <span style="font-size: 19px;">I haven’t had many chances to work on
        real projects, yet</span>.</p>
      <p class="exp-difficulties" > As you know, as a beginner,
        it’s a bit
        challenging to get those first opportunities to improve your skills.</p>
    
    <p class="postive-eperience" style="font-size: 18px;">That said, I’ve worked on
      <span style="color: green; font-size: 19px; font-weight: bolder; font-style: italic;">two real projects</span>
      so far, which have taught me a lot. And here they are...
    </p>
    <ul>
      <li>
        <app-experience-section></app-experience-section>
      </li>
      <li>
        <app-experience-section></app-experience-section>
      </li>
    </ul>
  </div>
</div>