<div class="experience-section hidden" #experienceRef>
  <h2>Experience</h2>
  <div class="experience-details-container">
    <p>I have to admit, <span style="color: blue; font-size: 17px;">I haven’t had many chances to work on real projects, yet</span>. 
      As you know, as a beginner,
      <span style="background-color: aquamarine; line-height: 5px; letter-spacing: 1px;">it’s a bit
      challenging to get those first opportunities to improve your skills.</span></p>
      <p class="postive-eperience">That said, I’ve worked on 
      <span style="color: green; font-size: 17px; font-weight: 500;">two real projects</span> 
      so far, which have taught me a lot. And here they are...</p> 
      <ul>
        <li>
         <app-experience-section></app-experience-section>
        </li>
        <li>
        <app-experience-section></app-experience-section>
        </li>
      </ul>
    </div>
</div>