*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 10px 5px;
    background-color: rgb(235, 213, 187);
}

// Replace <weight> and <uniquifier> with actual values, for example:

.parkinsans-light {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.parkinsans-bold {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

