.card-item{
    aspect-ratio: 17 / 9;
    background-color: yellow;
    height: 100%;
    background-image: url(./../../../../../public/images/task-project.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
}