<article>
    <h2>About Me</h2>
    <div class="about-me" >
        <img src="images/me.png">
<section class="about-me-txt">
    <p>👋 Hello!  I’m Katerina Nalchevanidze — <b>a front-end developer</b> with;</p>
    <br>
    <ul class="characteristics">
        <li><i class="fa-solid fa-brain"></i> a curious mind</li>
        <li> <i class="fa-solid fa-code"></i> a love for clean code</li>
        <li> <i class="fa-regular fa-circle-xmark"></i> a mild obsession with solving problems that don’t want to be solved (yet)</li>
    </ul>

   <p style="margin-bottom: 10px;">
    I’m currently deep in the <b>Angular universe</b>, exploring its powerful features.

   </p> 
   <p>
    When I’m not experimenting with components or debugging something a little too stubborn,  you’ll find me 
   </p>
   <ul class="hobbies">
    <li><i class="fa-solid fa-dumbbell"></i> at the gym breaking a sweat</li>
    <li><i class="fa-solid fa-person-biking"></i> riding my bicycle</li>
    <li><i class="fa-solid fa-person-hiking"></i> hiking up a trail just to chase the view</li>
    <li> <i class="fa-solid fa-book"></i> lost in a book</li>
   </ul>
          <p>
My goal is to grow into a thoughtful developer who crafts <b>meaningful, user-friendly solutions</b> — and enjoys the process just as much as the outcome.

If you want to explore more of my work and projects, feel free to check out the Experience section <a href="#">here</a> and the gallery.
Thanks for dropping by  😊</p>
</section>
    </div>
</article>
