<article>
    <h2>About Me</h2>
    <div class="about-me">
        <img src="images/me.png">
        <section class="about-me-txt">
            <p >{{translations()['about-me']['introduction']['intro']}}<b>{{translations()['about-me']['introduction']['occupation']}}</b></p>
            <br>
            <ul class="characteristics">
                @for(interest of translations()['about-me']['mind-description'] ; track interest){
                <li>
                    <i [style.color]="interest.color" [class]="interest.icon"></i> {{interest.description}}
                </li>
                }
            </ul>

            <p>
                {{ translations()['about-me']['free-time']}}
            </p>
            <ul class="hobbies">
                @for(hobby of translations()['about-me']['hobbies']; track hobby){
                <li><i [style.color]="hobby.color" [class]="hobby.icon"></i> {{hobby.description}} </li>
                }

            </ul>
            <p>
{{translations()['about-me']['goal']['main-goal']}}
<span>{{translations()['about-me']['goal']['customer-satisfaction']}}</span>
<span>{{translations()['about-me']['goal']['pleasure']}} </span>
{{translations()['about-me']['goal']['more'] }}
<a href="#gallery">{{translations()['about-me']['goal']['here']}}.</a>
            </p>
        </section>
    </div>
</article>